html, body {
    min-height: 100vh;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    background: linear-gradient(to bottom, #e0e0e0, #808080); /* Light gray to dark gray */
}

html::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

div{
    margin: 20px;
}


.link-list{
    margin: auto;
    width: 75%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}


.link-list .list-item svg {
    width: 50px; /* Set a uniform size */
    height: 50px;
    transform: scale(1.1);
  }

.link-list .list-item svg:hover {
    width: 50px; /* Set a uniform size */
    height: 50px;
    transform: scale(1.15);
  }
  

.watch-button{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main{
    background-color: white !important;
    display: flex;
    margin: 0;
    overflow: visible;
    justify-content: center;
    color: white;
    min-height: 100vh; /* Ensures the main content takes up the full viewport height */
    overflow: hidden; /* Prevents extra scrolling space */
}

.hero{
    margin: 0;
    height: 100%;
    width: 100%;
    border-radius: 10%;
}

.hero_section{
    display: block;
    justify-content: center;
}

#slogan{
    margin-bottom: .5rem;
}

.main-image{
    margin: 0;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 90%
}

.btn-latest{
    margin: 0;
    text-decoration: none;
    color: black;
    width: 100%;
    display: 100%;
    justify-content: center;
}

.hero-div{
    margin: auto;
    margin-top: 18rem;
    margin-left: -.75rem;
    display: block;
    justify-items: center;
    align-items: center;
    color: white !important;
    text-align: center;
}

.inside-btn{
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    margin-bottom: 0;
}

.inside-btn:hover{
    background-color: gray;
}

.watch-link:hover{
    color: #26437a !important;
}

.frame{
    height: 100%;
}

.title-img{
    width: 100%;
    margin-right: 1px;
    margin-bottom: -1rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}



.description{
    text-align: justify;
}

.desc-body{
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    max-width: 650px;
}

svg {
    width: 6vw;  /* 5% of viewport width */
    height: auto; /* Maintain aspect ratio */
    max-width: 30px; /* Prevent excessive scaling */
  }

.episode-title{
    margin-top: -1rem;
    margin-bottom: 0;
}

.date{
    color: gray;
}
.ep-desc{
    margin-top: -1rem;
}
.ep-length{
    padding: 0;
    margin-top: -2rem;
    margin: 0;
    color: gray;
}

.card-size{
    margin-top: 2rem !important;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 90%;
    border:  none !important;
    border-radius: 5% !important;
}

.card-img{
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, .8)), /* White to black gradient */
        url("../static/bg\ \(1380\ x\ 1050\ px\).png"); /* Background image */
    background-size: cover; /* Ensures it fills the space */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    width: 100%; /* Or a specific value */
    height: 40rem; /* Adjust height as needed */
    background-size: cover; /* Ensures it fills the space */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    margin: 0;
    position: relative;
    border-radius: 5% !important;
}

@media (max-width: 550px){
    .card-size{
        height: auto;
        width: 100% !important;
        border-radius: 0 !important;
        margin-top: 0rem !important;
    }
    .main{
        background: black;
        display: block;
    }
    .card-img{
        border-top-left-radius: 0% !important;
        border-top-right-radius: 0% !important;
        border-bottom-left-radius: 0% !important;
        border-bottom-right-radius: 0% !important;
    }
}

@media (min-width: 1000px){
    .card-size{
        height: auto;
    }
    .card-img{
        height: 50rem;
    }
    .main{
        display: block;
    }
    .hero-div{
        margin-top: 28rem;
    }
}

@media (min-width: 1300px){
    .card-img{
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, .5)), /* White to black gradient */
        url("../static/bg\ \(1380\ x\ 1050\ px\)\ \(2552\ x\ 2000\ px\)\ \(2552\ x\ 1500\ px\).png"); /* Background image */
        background-size: cover; /* Ensures it fills the space */
        background-position: center; /* Centers the image */
        background-repeat: no-repeat; /* Prevents tiling */
    }
    .hero-div{
        margin-top: 30rem;
    }
}